@import './style/CanvasWindow.scss';
@import './style/LayerPanel.scss';
@import './style/PanelHeader.scss';
@import './style/Toolbox.scss';

* {
  outline: none;
}

body {
  margin: 0;
  font-family: system-ui;
  background: rgb(83, 83, 83);
  width: 100vw;
  height: 100vh;

  #root {
    height: 100%;
    overflow: hidden;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
}

.slick {
  background-color: #454545;
  border: 1px solid #5a5a5a;
  border-radius: 2px;
  font-size: x-small;
  color: #f0f0f0;
}
